Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: sops-check-encryption
        name: SOPS Encryption Check
        entry: ./check-sops-encryption.sh
        language: system
        files: .*\.sops\.ya?ml
      - id: yaml-schema-check
        name: YAML Schema Validation
        entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
        language: system
        files: ^kubernetes/.+\.ya?ml$
        exclude: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
      - id: yamllint
        name: YAML Lint
        entry: yamllint
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: yamlfmt
        name: YAML Format
        entry: yamlfmt
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: k8s-schema-hook
        name: K8s Schema Hook
        entry: hooks/k8s_yaml_schema.py --config .k8s-schema-hook.yaml
        language: python
        files: ^kubernetes/.+\.ya?ml$
        additional_dependencies:
          - jmespath
          - ruamel.yaml

feat(container): update toolhive group (0.22.0 → 0.23.0) (#253)
  kubernetes/apps/ai/toolhive/app/ocirepository.yaml
  kubernetes/apps/ai/toolhive/crds/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add miniflux
  kubernetes/apps/selfhosted/miniflux/app/externalsecret.yaml
  kubernetes/apps/selfhosted/miniflux/app/helmrelease.yaml
  kubernetes/apps/selfhosted/miniflux/app/kustomization.yaml
  kubernetes/apps/selfhosted/miniflux/app/ocirepository.yaml
  kubernetes/apps/selfhosted/miniflux/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add dummy change
  docker/vps/02-rathole/docker-compose.yml
Due: yamllint, yamlfmt

fix(container): update image ghcr.io/home-operations/charts/tuppr (0.1.6 → 0.1.7) (#257)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update toolhive group (0.23.0 → 0.23.1) (#254)
  kubernetes/apps/ai/toolhive/app/ocirepository.yaml
  kubernetes/apps/ai/toolhive/crds/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add init container for envsubst
  docker/vps/02-rathole/docker-compose.yml
  docker/vps/02-rathole/server.toml.tmpl
Due: yamllint, yamlfmt

use static ip for prometheus writer
  digest.txt
  docker/vps/02-rathole/docker-compose.yml
  docker/vps/04-observability/config/fluent-bit/fluent-bit.conf
  docker/vps/04-observability/config/prometheus.yml
Due: yamllint, yamlfmt

add miniflux ks
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/miniflux/app/helmrelease.yaml
  kubernetes/apps/selfhosted/miniflux/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/kimdre/doco-cd (0.81.0 → 0.82.0) (#262)
  docker/vps/.doco-cd/docker-compose.app.yaml
Due: yamllint, yamlfmt

switch to victoria-metrics
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

remove vmmetrics node exporter
  kubernetes/apps/observability/victoria-metrics/app/externalsecret.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add maxhistory
  kubernetes/flux/cluster/cluster.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(observability): use correct inlineRelabelConfig field in vmagent spec
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(observability): merge node-exporter and kube-state-metrics into victoria-metrics chart
  kubernetes/apps/observability/kube-state-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/kube-state-metrics/app/kustomization.yaml
  kubernetes/apps/observability/kube-state-metrics/app/ocirepository.yaml
  kubernetes/apps/observability/kube-state-metrics/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/node-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/node-exporter/app/kustomization.yaml
  kubernetes/apps/observability/node-exporter/app/ocirepository.yaml
  kubernetes/apps/observability/node-exporter/ks.yaml
  kubernetes/apps/observability/victoria-metrics/app/grafanadashboard-node-exporter.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(observability): broaden vmagent labeldrop to cover all kubevirt/NFD node labels
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(observability): add cluster label to smartctl interface speed alert matching
  kubernetes/apps/observability/smartctl-exporter/app/prometheusrule.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(observability): explicitly set cluster=home externalLabels on vmagent and vmalert
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(observability): update silence-operator alertmanager address to vmalertmanager
  kubernetes/apps/observability/silence-operator/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(observability): increase vmagent CPU limit to 1000m
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(observability): remove externalLabels from vmalert spec
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

remove useless dashboard
  kubernetes/apps/observability/grafana/instance/grafanadashboard.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update kubernetes group (v1.35.4 → v1.36.0) (#261)
  kubernetes/apps/system-upgrade/tuppr/upgrade/kubeupgrade.yaml
  talos/machineconfig.yaml.j2
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container)!: Update image ghcr.io/prometheus-community/charts/kube-prometheus-stack (83.7.0 → 84.0.0) (#263)
  bootstrap/helmfile.d/00-crds.yaml
Due: yamllint, yamlfmt

feat(container): update toolhive group (0.23.1 → 0.24.0) (#260)
  kubernetes/apps/ai/toolhive/app/ocirepository.yaml
  kubernetes/apps/ai/toolhive/crds/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix some stuff
  kubernetes/apps/kubevirt/operator/app/kubevirt-cr.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/kimdre/doco-cd (0.82.0 → 0.82.1) (#264)
  docker/vps/.doco-cd/docker-compose.app.yaml
Due: yamllint, yamlfmt

feat: add dmesg in victoria logs
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  talos/machineconfig.yaml.j2
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update kubevirt
  kubernetes/apps/kubevirt/operator/app/kustomization.yaml
  talos/machineconfig.yaml.j2
Due: yamllint, yamlfmt, k8s-schema-hook
