Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: sops-check-encryption
        name: SOPS Encryption Check
        entry: ./check-sops-encryption.sh
        language: system
        files: .*\.sops\.ya?ml
      - id: yaml-schema-check
        name: YAML Schema Validation
        entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
        language: system
        files: ^kubernetes/.+\.ya?ml$
        exclude: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
      - id: yamllint
        name: YAML Lint
        entry: yamllint
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: yamlfmt
        name: YAML Format
        entry: yamlfmt
        language: system
        exclude: ^config/
        files: .+\.ya?ml$

fix region
  talos/machineconfig.yaml.j2
Due: none

remove node selector
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/profilarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/selfhosted/bentopdf/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

update longhorn option
  kubernetes/apps/kube-system/longhorn/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

update flaresolverr
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add socks5 proxy
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

fix bootstrap
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/mod.just
  bootstrap/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/longhorn/app/kustomization.yaml
  kubernetes/apps/security/external-secrets/cert/certificate.yaml
  kubernetes/apps/security/external-secrets/cert/kustomization.yaml
  kubernetes/apps/security/external-secrets/ks.yaml
Due: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt

update config with bond
  kubernetes/apps/security/external-secrets/ks.yaml
  talos/nodes/kharkiv.yaml.j2
  talos/nodes/le-havre.yaml.j2
Due: yaml-schema-check, yamllint, yamlfmt

fix ks
  kubernetes/apps/security/external-secrets/ks.yaml
  kubernetes/apps/security/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt

target the device directly for le-havre node
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add kromgo
  kubernetes/apps/monitoring/kromgo/app/config/config.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/kustomization.yaml
  kubernetes/apps/monitoring/kromgo/app/ocirepository.yaml
  kubernetes/apps/monitoring/kromgo/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add sla status to kromgo
  kubernetes/apps/monitoring/kromgo/app/config/config.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add security policy
  kubernetes/apps/monitoring/kromgo/app/kustomization.yaml
  kubernetes/apps/monitoring/kromgo/app/securitypolicy.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add badges
  README.md
Due: none

Add target port
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

increase memory limit and probe
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

update mikrotik cert cronjob
  kubernetes/apps/system/mikrotik-cert-sync/app/cronjob.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add mkt version
  kubernetes/apps/monitoring/kromgo/app/config/config.yaml
Due: yamllint, yamlfmt

update schematic
  talos/machineconfig.yaml.j2
  talos/schematic.yaml.j2
Due: none

remove healthcheck
  kubernetes/apps/system-upgrade/tuppr/upgrade/talosupgrade.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add plenty of grafana dashboard
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/apps/network/envoy/config/grafanadashboard.yaml
  kubernetes/apps/network/envoy/config/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add cluster latency over 7d
  kubernetes/apps/monitoring/kromgo/app/config/config.yaml
Due: yamllint, yamlfmt

Include Apache License 2.0
  LICENSE
Due: none

Add github exporter
  kubernetes/apps/monitoring/github-exporter/app/config/config.yaml
  kubernetes/apps/monitoring/github-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/github-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/github-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/github-exporter/app/ocirepository.yaml
  kubernetes/apps/monitoring/github-exporter/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add hypermind
  kubernetes/apps/selfhosted/hypermind/app/helmrelease.yaml
  kubernetes/apps/selfhosted/hypermind/app/kustomization.yaml
  kubernetes/apps/selfhosted/hypermind/app/ocirepository.yaml
  kubernetes/apps/selfhosted/hypermind/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add map and chat
  kubernetes/apps/selfhosted/hypermind/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add gh contributions
  kubernetes/apps/monitoring/kromgo/app/config/config.yaml
Due: yamllint, yamlfmt

update metrics
  kubernetes/apps/monitoring/github-exporter/app/config/config.yaml
  kubernetes/apps/monitoring/kromgo/app/config/config.yaml
Due: yamllint, yamlfmt

increase max connection
  kubernetes/apps/selfhosted/hypermind/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt
