Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: sops-check-encryption
        name: SOPS Encryption Check
        entry: ./check-sops-encryption.sh
        language: system
        files: .*\.sops\.ya?ml
      - id: yaml-schema-check
        name: YAML Schema Validation
        entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
        language: system
        files: ^kubernetes/.+\.ya?ml$
        exclude: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
      - id: yamllint
        name: YAML Lint
        entry: yamllint
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: yamlfmt
        name: YAML Format
        entry: yamlfmt
        language: system
        exclude: ^config/
        files: .+\.ya?ml$

increase max connection
  kubernetes/apps/selfhosted/hypermind/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add last push metrics
  kubernetes/apps/monitoring/github-exporter/app/config/config.yaml
Due: yamllint, yamlfmt

update github exporter
  kubernetes/apps/monitoring/github-exporter/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

update hypermind
  kubernetes/apps/selfhosted/hypermind/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

use latest build for github-export
  kubernetes/apps/monitoring/github-exporter/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add pull policy always
  kubernetes/apps/monitoring/github-exporter/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add tag
  kubernetes/apps/monitoring/github-exporter/app/config/config.yaml
  kubernetes/apps/monitoring/github-exporter/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

update kromgo config
  kubernetes/apps/monitoring/kromgo/app/config/config.yaml
Due: yamllint, yamlfmt

update config
  kubernetes/apps/monitoring/github-exporter/app/config/config.yaml
  kubernetes/apps/monitoring/kromgo/app/config/config.yaml
Due: yamllint, yamlfmt

update github-exporter
  kubernetes/apps/monitoring/github-exporter/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

reduce scrape interval
  kubernetes/apps/monitoring/github-exporter/app/config/config.yaml
  kubernetes/apps/monitoring/github-exporter/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

update github exporter
  kubernetes/apps/monitoring/github-exporter/app/config/config.yaml
  kubernetes/apps/monitoring/github-exporter/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add atuin
  kubernetes/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/apps/selfhosted/atuin/app/kustomization.yaml
  kubernetes/apps/selfhosted/atuin/app/ocirepository.yaml
  kubernetes/apps/selfhosted/atuin/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt

update readme
  README.md
Due: none

change color for memory
  kubernetes/apps/monitoring/kromgo/app/config/config.yaml
Due: yamllint, yamlfmt

reduce cpu requests
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/longhorn/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add fizzbuzz
  kubernetes/apps/selfhosted/fizzbuzz/ks.yaml
  kubernetes/apps/selfhosted/fizzbuzz/prod/helmrelease.yaml
  kubernetes/apps/selfhosted/fizzbuzz/prod/kustomization.yaml
  kubernetes/apps/selfhosted/fizzbuzz/prod/ocirepository.yaml
  kubernetes/apps/selfhosted/fizzbuzz/staging/helmrelease.yaml
  kubernetes/apps/selfhosted/fizzbuzz/staging/kustomization.yaml
  kubernetes/apps/selfhosted/fizzbuzz/staging/ocirepository.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt

fix backup sync
  kubernetes/apps/kube-system/backup/app/job.yaml
Due: yaml-schema-check, yamllint, yamlfmt

remove hypermind
  kubernetes/apps/selfhosted/hypermind/app/helmrelease.yaml
  kubernetes/apps/selfhosted/hypermind/app/kustomization.yaml
  kubernetes/apps/selfhosted/hypermind/app/ocirepository.yaml
  kubernetes/apps/selfhosted/hypermind/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt

use version for qui
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

fix(fluent-bit): Use upstream OCI repo
  kubernetes/apps/monitoring/fluent-bit/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt

use private key for certificate
  kubernetes/apps/network/envoy/config/certificate.yaml
Due: yamllint, yamlfmt

change transport protocol
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt

Add lingarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/lingarr/app/helmrelease.yaml
  kubernetes/apps/media/lingarr/app/kustomization.yaml
  kubernetes/apps/media/lingarr/app/ocirepository.yaml
  kubernetes/apps/media/lingarr/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt

update ollama
  kubernetes/apps/ai/ollama/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt
