Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: sops-check-encryption
        name: SOPS Encryption Check
        entry: ./check-sops-encryption.sh
        language: system
        files: .*\.sops\.ya?ml
      - id: yaml-schema-check
        name: YAML Schema Validation
        entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
        language: system
        files: ^kubernetes/.+\.ya?ml$
        exclude: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
      - id: yamllint
        name: YAML Lint
        entry: yamllint
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: yamlfmt
        name: YAML Format
        entry: yamlfmt
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: k8s-schema-hook
        name: K8s Schema Hook
        entry: hooks/k8s_yaml_schema.py --config .k8s-schema-hook.yaml
        language: python
        files: ^kubernetes/.+\.ya?ml$
        additional_dependencies:
          - jmespath
          - ruamel.yaml

fix(container): update image ghcr.io/home-operations/charts/tuppr (0.1.8 → 0.1.10) (#313)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/external-secrets/charts/external-secrets (2.4.0 → 2.4.1) (#310)
  bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/security/external-secrets/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

forward proxy proxy_protocol
  docker/vps/03-edge/config/Caddyfile
Due: none

fix(container): update sparkyfitness group (v0.16.5.8 → v0.16.5.9) (#315)
  kubernetes/apps/selfhosted/sparkyfitness/app/helmrelease.yaml
  kubernetes/apps/selfhosted/sparkyfitness/server/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/stacklok/dockyard/npx/context7 (2.2.0 → 2.2.2) (#316)
  kubernetes/apps/ai/context7-mcp/app/mcpserver.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add additional scope
  kubernetes/apps/ai/toolhive/config/virtualmcpserver.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

yeet image factory
  kubernetes/apps/automation/image-factory/app/externalsecret.yaml
  kubernetes/apps/automation/image-factory/app/helmrelease.yaml
  kubernetes/apps/automation/image-factory/app/kustomization.yaml
  kubernetes/apps/automation/image-factory/app/ocirepository.yaml
  kubernetes/apps/automation/image-factory/ks.yaml
  kubernetes/apps/automation/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image code.forgejo.org/forgejo/forgejo (15.0.0 → 15.0.1) (#318)
  kubernetes/apps/selfhosted/forgejo/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image code.forgejo.org/forgejo-helm/forgejo (17.0.0 → 17.0.1) (#317)
  kubernetes/apps/selfhosted/forgejo/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat: kubevirt yeet
  kubernetes/apps/kubevirt/cdi/app/cdi-cr.yaml
  kubernetes/apps/kubevirt/cdi/app/kustomization.yaml
  kubernetes/apps/kubevirt/cdi/ks.yaml
  kubernetes/apps/kubevirt/home-assistant/app/endpointslice.yaml
  kubernetes/apps/kubevirt/home-assistant/app/httproute.yaml
  kubernetes/apps/kubevirt/home-assistant/app/kustomization.yaml
  kubernetes/apps/kubevirt/home-assistant/app/namespace.yaml
  kubernetes/apps/kubevirt/home-assistant/app/networkattachmentdefinition.yaml
  kubernetes/apps/kubevirt/home-assistant/app/service.yaml
  kubernetes/apps/kubevirt/home-assistant/app/storageprofile.yaml
  kubernetes/apps/kubevirt/home-assistant/app/virtualmachine.yaml
  kubernetes/apps/kubevirt/home-assistant/ks.yaml
  kubernetes/apps/kubevirt/kustomization.yaml
  kubernetes/apps/kubevirt/namespace.yaml
  kubernetes/apps/kubevirt/operator/app/kubevirt-cr.yaml
  kubernetes/apps/kubevirt/operator/app/kustomization.yaml
  kubernetes/apps/kubevirt/operator/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat: home-assistant deploy
  kubernetes/apps/home-assistant/esphome/app/helmrelease.yaml
  kubernetes/apps/home-assistant/esphome/app/kustomization.yaml
  kubernetes/apps/home-assistant/esphome/app/ocirepository.yaml
  kubernetes/apps/home-assistant/esphome/ks.yaml
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home-assistant/home-assistant/app/kustomization.yaml
  kubernetes/apps/home-assistant/home-assistant/app/ocirepository.yaml
  kubernetes/apps/home-assistant/home-assistant/ks.yaml
  kubernetes/apps/home-assistant/kustomization.yaml
  kubernetes/apps/home-assistant/namespace.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack (84.3.0 → 84.4.0) (#321)
  bootstrap/helmfile.d/00-crds.yaml
Due: yamllint, yamlfmt

fix oidc for home assistant
  kubernetes/apps/home-assistant/home-assistant/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/home-operations/esphome (2026.3.2 → 2026.4.3) (#319)
  kubernetes/apps/home-assistant/esphome/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update toolhive group (0.24.1 → 0.26.0) (#320)
  kubernetes/apps/ai/toolhive/app/ocirepository.yaml
  kubernetes/apps/ai/toolhive/crds/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-collector (0.3.2 → 0.3.3) (#325)
  kubernetes/apps/observability/victoria-logs-collector/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update sparkyfitness group (v0.16.5.9 → v0.16.6.0) (#324)
  kubernetes/apps/selfhosted/sparkyfitness/app/helmrelease.yaml
  kubernetes/apps/selfhosted/sparkyfitness/server/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix victoria-metrics
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

chore: just lazy evaluations
  .justfile
  ansible/mod.just
  bootstrap/mod.just
  kubernetes/mod.just
  talos/mod.just
Due: none

chore: update kopia repo more than every 4 hours
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

chore: add hpascaletozero on controller as well
  talos/machineconfig.yaml.j2
Due: none

maybe i should rethink about yoinking Devin
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix: return 200 for bad user agent
  kubernetes/apps/network/envoy-gateway/gateway/resources/block-user-agents.lua
Due: none

feat(container): update image ollama/ollama (0.21.2 → 0.22.0) (#312)
  kubernetes/apps/ai/ollama/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image docker.io/amazon/aws-cli (2.34.33 → 2.34.39) (#255)
  kubernetes/apps/jobs/k8s-schemas/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/home-operations/charts-mirror/external-dns (1.20.0 → 1.21.1) (#327)
  bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/external-dns/mikrotik-dns/ocirepository.yaml
  kubernetes/apps/network/external-dns/ovh-dns/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/intel/intel-resource-drivers-for-kubernetes/intel-gpu-resource-driver-chart (0.10.0 → 0.10.1) (#326)
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Revert "remove redis cache"
  kubernetes/apps/automation/renovate-operator/jobs/job.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/stacklok/dockyard/npx/context7 (2.2.2 → 2.2.3) (#334)
  kubernetes/apps/ai/context7-mcp/app/mcpserver.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/autobrr/autobrr (v1.76.0 → v1.77.0) (#333)
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook
