Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: sops-check-encryption
        name: SOPS Encryption Check
        entry: ./check-sops-encryption.sh
        language: system
        files: .*\.sops\.ya?ml
      - id: yaml-schema-check
        name: YAML Schema Validation
        entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
        language: system
        files: ^kubernetes/.+\.ya?ml$
        exclude: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
      - id: yamllint
        name: YAML Lint
        entry: yamllint
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: yamlfmt
        name: YAML Format
        entry: yamlfmt
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: k8s-schema-hook
        name: K8s Schema Hook
        entry: hooks/k8s_yaml_schema.py --config .k8s-schema-hook.yaml
        language: python
        files: ^kubernetes/.+\.ya?ml$
        additional_dependencies:
          - jmespath
          - ruamel.yaml

fix(container): update image docker.io/amazon/aws-cli (2.34.26 → 2.34.27) (#119)
  kubernetes/apps/jobs/k8s-schemas/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/emberstack/helm-charts/reflector (10.0.28 → 10.0.29) (#122)
  kubernetes/apps/kube-system/reflector/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack (83.3.0 → 83.4.0) (#126)
  bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat: deploy anytype backend
  kubernetes/apps/selfhosted/anytype/app/externalsecret.yaml
  kubernetes/apps/selfhosted/anytype/app/helmrelease.yaml
  kubernetes/apps/selfhosted/anytype/app/kustomization.yaml
  kubernetes/apps/selfhosted/anytype/app/ocirepository.yaml
  kubernetes/apps/selfhosted/anytype/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

chore(renovate): Update automerge config
  .renovate/automerge.json5
Due: none

chore update group
  .renovate/groups.json5
Due: none

fix(container): update image git.erwanleboucher.dev/eleboucher/apoci (0.0.8 → 0.0.9) (#127)
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

use direct webhook for doco-cd
  .forgejo/workflows/doco-cd-webhook.yaml
  kubernetes/apps/selfhosted/forgejo/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix haos deployment
  kubernetes/apps/kubevirt/home-assistant/app/virtualmachine.yaml
  renovate.json
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update apoci to 0.0.11 and add image caching
  docker/vps/01-pangolin/config/apoci/apoci.yaml
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

use RWM for forgejo runner
  kubernetes/apps/selfhosted/forgejo/runner/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/mirceanton/external-dns-provider-mikrotik (v1.5.16 → v1.5.17) (#131)
  kubernetes/apps/network/external-dns/mikrotik-dns/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(github-release): update release immich-app/immich (v2.7.2 → v2.7.3) (#128)
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ollama/ollama (0.20.3 → 0.20.5) (#132)
  kubernetes/apps/ai/ollama/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image docker.io/amazon/aws-cli (2.34.27 → 2.34.28) (#129)
  kubernetes/apps/jobs/k8s-schemas/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image code.forgejo.org/forgejo/forgejo (14.0.3 → 14.0.4) (#134)
  kubernetes/apps/selfhosted/forgejo/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/external-secrets/charts/external-secrets (2.2.0 → 2.3.0) (#135)
  bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/security/external-secrets/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update gotosocial config
  docker/vps/01-pangolin/config/traefik/dynamic_config.yml
  kubernetes/apps/selfhosted/gotosocial/server/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add oidc for gts
  kubernetes/apps/security/kanidm/app/helmrelease.yaml
  kubernetes/apps/selfhosted/gotosocial/ks.yaml
  kubernetes/apps/selfhosted/gotosocial/server/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image code.forgejo.org/forgejo-helm/forgejo (16.2.1 → 16.2.2) (#138)
  kubernetes/apps/selfhosted/forgejo/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update toolhive group (0.17.0 → 0.18.0) (#137)
  kubernetes/apps/ai/toolhive/app/ocirepository.yaml
  kubernetes/apps/ai/toolhive/crds/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(github-release): update release immich-app/immich (v2.7.3 → v2.7.4) (#139)
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/kimdre/doco-cd (0.78.0 → 0.79.0) (#136)
  docker/vps/.doco-cd/docker-compose.app.yaml
Due: yamllint, yamlfmt

update apoci
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

fix(gts): add rate limit exceptions
  kubernetes/apps/selfhosted/gotosocial/server/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(gts): allow custom css
  kubernetes/apps/selfhosted/gotosocial/server/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add pangolin and registry
  kubernetes/apps/observability/gatus/app/config/config.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

add persistence to gatus
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image mirror.gcr.io/envoyproxy/envoy (v1.37.1 → v1.37.2) (#141)
  kubernetes/apps/network/envoy-gateway/gateway/envoy.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(grafana-dashboards)!: Update dashboard 1860 (44 → 45)
  kubernetes/apps/observability/node-exporter/app/grafanadashboard.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image docker.io/amazon/aws-cli (2.34.28 → 2.34.29) (#140)
  kubernetes/apps/jobs/k8s-schemas/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/emberstack/helm-charts/reflector (10.0.29 → 10.0.30) (#143)
  kubernetes/apps/kube-system/reflector/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image quay.io/jetstack/charts/cert-manager (v1.20.1 → v1.20.2) (#144)
  bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update sparkyfitness group (v0.16.5.6 → v0.16.5.7) (#145)
  kubernetes/apps/selfhosted/sparkyfitness/app/helmrelease.yaml
  kubernetes/apps/selfhosted/sparkyfitness/server/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook
