Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: sops-check-encryption
        name: SOPS Encryption Check
        entry: ./check-sops-encryption.sh
        language: system
        files: .*\.sops\.ya?ml
      - id: yaml-schema-check
        name: YAML Schema Validation
        entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
        language: system
        files: ^kubernetes/.+\.ya?ml$
        exclude: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
      - id: yamllint
        name: YAML Lint
        entry: yamllint
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: yamlfmt
        name: YAML Format
        entry: yamlfmt
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: k8s-schema-hook
        name: K8s Schema Hook
        entry: hooks/k8s_yaml_schema.py --config .k8s-schema-hook.yaml
        language: python
        files: ^kubernetes/.+\.ya?ml$
        additional_dependencies:
          - jmespath
          - ruamel.yaml

feat(volsync): switch to native Google Drive sync
  kubernetes/apps/volsync-system/volsync/sync/cronjob.yaml
  kubernetes/apps/volsync-system/volsync/sync/gdrive-service-account.sops.yaml
  kubernetes/apps/volsync-system/volsync/sync/kustomization.yaml
Due: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

revert: switch back to rclone for Google Drive sync
  kubernetes/apps/volsync-system/volsync/sync/cronjob.yaml
  kubernetes/apps/volsync-system/volsync/sync/gdrive-service-account.sops.yaml
  kubernetes/apps/volsync-system/volsync/sync/kustomization.yaml
Due: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update backup jobs to backup only home assistant
  kubernetes/apps/kube-system/backup/app/job.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update mktxp config
  kubernetes/apps/monitoring/mikrotik-exporter/app/config/mktxp.conf
Due: none

fix(cilium): Update config
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

make kopia maintenance run 2 times per day
  kubernetes/apps/volsync-system/volsync/maintenance/kopiamaintenance.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix sabnzbd config
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix cilium
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Revert "fix cilium"
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Revert "fix(cilium): Update config"
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

revert cilium version
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

remove automerge
  renovate.json
Due: none

update cilium config
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add nfsrahead
  talos/schematic.yaml.j2
Due: none

revert cilium version in bootstrap
  bootstrap/helmfile.d/01-apps.yaml
Due: yamllint, yamlfmt

Add flux prometheus rule
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/prometheusrule.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update atuin
  kubernetes/apps/selfhosted/atuin/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add missing rbac
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update renovate operator
  kubernetes/apps/automation/renovate-operator/app/repository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix mutatin admission policy
  kubernetes/apps/volsync-system/volsync/maintenance/mutatingadmissionpolicy.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update schematics
  talos/machineconfig.yaml.j2
  talos/schematic.yaml.j2
Due: none

Add monitoring
  kubernetes/apps/network/agentgateway/app/grafanadashboard.yaml
  kubernetes/apps/network/agentgateway/app/kustomization.yaml
  kubernetes/apps/network/agentgateway/app/servicemonitor.yaml
  kubernetes/apps/network/agentgateway/gateway/external.yaml
  kubernetes/apps/network/agentgateway/gateway/internal.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix cors with agentgateway
  kubernetes/apps/monitoring/kromgo/app/agentgatewaypolicy.yaml
  kubernetes/apps/monitoring/kromgo/app/kustomization.yaml
  kubernetes/apps/monitoring/kromgo/app/securitypolicy.yaml
  kubernetes/apps/network/agentgateway/gateway/internal.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix metrics for agentgateway
  kubernetes/apps/network/agentgateway/app/kustomization.yaml
  kubernetes/apps/network/agentgateway/app/podmonitor.yaml
  kubernetes/apps/network/agentgateway/app/servicemonitor.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook
