Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: sops-check-encryption
        name: SOPS Encryption Check
        entry: ./check-sops-encryption.sh
        language: system
        files: .*\.sops\.ya?ml
      - id: yaml-schema-check
        name: YAML Schema Validation
        entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
        language: system
        files: ^kubernetes/.+\.ya?ml$
        exclude: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
      - id: yamllint
        name: YAML Lint
        entry: yamllint
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: yamlfmt
        name: YAML Format
        entry: yamlfmt
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: k8s-schema-hook
        name: K8s Schema Hook
        entry: hooks/k8s_yaml_schema.py --config .k8s-schema-hook.yaml
        language: python
        files: ^kubernetes/.+\.ya?ml$
        additional_dependencies:
          - jmespath
          - ruamel.yaml

temp revert flux source
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix runner labels
  kubernetes/apps/selfhosted/forgejo/runner/configmap.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix runner again
  .forgejo/workflows/flux-s3-sync.yaml
  .forgejo/workflows/mirror.yaml
  kubernetes/apps/selfhosted/forgejo/runner/configmap.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix bucket deployment
  kubernetes/apps/flux-system/flux-instance/app/bucket.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix postgres components
  kubernetes/components/postgres/base/ks.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

switch renovate to forgejo
  kubernetes/apps/automation/renovate-operator/jobs/externalsecret.yaml
  kubernetes/apps/automation/renovate-operator/jobs/job.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/immich-app/immich-charts/immich (0.10.3 → 0.11.0)
  kubernetes/apps/selfhosted/immich/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

ci(github-action)!: Update action https://data.forgejo.org/actions/checkout (v4 → v6)
  .forgejo/workflows/flux-s3-sync.yaml
  .forgejo/workflows/mirror.yaml
Due: yamllint, yamlfmt

only trigger mirror in main
  .forgejo/workflows/mirror.yaml
Due: yamllint, yamlfmt

feat(renovate): Add github_com_token to fetch metadata
  kubernetes/apps/automation/renovate-operator/jobs/externalsecret.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat: run the webhook after s3 sync
  .forgejo/workflows/flux-s3-sync.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver/github.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat: woodpecker
  .woodpecker/flux-s3-sync.yaml
  .woodpecker/mirror.yaml
  kubernetes/apps/woodpecker/kustomization.yaml
  kubernetes/apps/woodpecker/namespace.yaml
  kubernetes/apps/woodpecker/woodpecker/app/externalsecret.yaml
  kubernetes/apps/woodpecker/woodpecker/app/helmrelease.yaml
  kubernetes/apps/woodpecker/woodpecker/app/httproute.yaml
  kubernetes/apps/woodpecker/woodpecker/app/kustomization.yaml
  kubernetes/apps/woodpecker/woodpecker/app/ocirepository.yaml
  kubernetes/apps/woodpecker/woodpecker/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

remove forgejo runner
  .forgejo/workflows/flux-s3-sync.yaml
  .forgejo/workflows/mirror.yaml
  .woodpecker/flux-s3-sync.yaml
  .woodpecker/mirror.yaml
  kubernetes/apps/selfhosted/forgejo/ks.yaml
  kubernetes/apps/selfhosted/forgejo/runner/configmap.yaml
  kubernetes/apps/selfhosted/forgejo/runner/deployment.yaml
  kubernetes/apps/selfhosted/forgejo/runner/externalsecret.yaml
  kubernetes/apps/selfhosted/forgejo/runner/kustomization.yaml
  kubernetes/apps/selfhosted/forgejo/runner/pvc.yaml
  kubernetes/apps/selfhosted/forgejo/runner/role.yaml
  kubernetes/apps/selfhosted/forgejo/runner/rolebinding.yaml
  kubernetes/apps/selfhosted/forgejo/runner/serviceaccount.yaml
  kubernetes/apps/woodpecker/woodpecker/app/helmrelease.yaml
  kubernetes/apps/woodpecker/woodpecker/app/httproute.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack (82.15.0 → 82.15.1)
  bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat: gts goes public
  kubernetes/apps/selfhosted/gotosocial/server/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

chore: mirror force push
  .woodpecker/mirror.yaml
Due: yamllint, yamlfmt

fix annotations for gts gatus
  kubernetes/apps/selfhosted/gotosocial/server/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix cors
  kubernetes/apps/selfhosted/gotosocial/server/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image docker.io/amazon/aws-cli (2.34.18 → 2.34.19)
  kubernetes/apps/jobs/k8s-schemas/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image quay.io/jetstack/charts/cert-manager (v1.20.0 → v1.20.1)
  bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/mealie-recipes/mealie (v3.13.1 → v3.14.0)
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix split domain for gts
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

add command to deploy doco-cd manually
  ansible/mod.just
  docker/vps/.doco-cd/docker-compose.app.yaml
Due: yamllint, yamlfmt

fix force push
  .woodpecker/mirror.yaml
Due: yamllint, yamlfmt

add grafana dashboard
  kubernetes/apps/selfhosted/gotosocial/server/grafanadashboard.yaml
  kubernetes/apps/selfhosted/gotosocial/server/helmrelease.yaml
  kubernetes/apps/selfhosted/gotosocial/server/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix annotations
  kubernetes/apps/woodpecker/woodpecker/app/httproute.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat: deploy kanidm
  kubernetes/apps/security/kanidm/app/backendtlspolicy.yaml
  kubernetes/apps/security/kanidm/app/certificate.yaml
  kubernetes/apps/security/kanidm/app/helmrelease.yaml
  kubernetes/apps/security/kanidm/app/kustomization.yaml
  kubernetes/apps/security/kanidm/app/ocirepository.yaml
  kubernetes/apps/security/kanidm/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat: add kanidm provision
  kubernetes/apps/security/kanidm/README.md
  kubernetes/apps/security/kanidm/app/externalsecret.yaml
  kubernetes/apps/security/kanidm/app/helmrelease.yaml
  kubernetes/apps/security/kanidm/app/kustomization.yaml
  kubernetes/apps/security/kanidm/app/rbac.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook
