Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: sops-check-encryption
        name: SOPS Encryption Check
        entry: ./check-sops-encryption.sh
        language: system
        files: .*\.sops\.ya?ml
      - id: yaml-schema-check
        name: YAML Schema Validation
        entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
        language: system
        files: ^kubernetes/.+\.ya?ml$
        exclude: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
      - id: yamllint
        name: YAML Lint
        entry: yamllint
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: yamlfmt
        name: YAML Format
        entry: yamlfmt
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: k8s-schema-hook
        name: K8s Schema Hook
        entry: hooks/k8s_yaml_schema.py --config .k8s-schema-hook.yaml
        language: python
        files: ^kubernetes/.+\.ya?ml$
        additional_dependencies:
          - jmespath
          - ruamel.yaml

add back Crowdsec dashboards
  kubernetes/apps/observability/grafana/instance/grafanadashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/grafanadashboard-node-exporter.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

customize forgejo
  kubernetes/apps/selfhosted/forgejo/app/helmrelease.yaml
  kubernetes/apps/selfhosted/forgejo/app/kustomization.yaml
  kubernetes/apps/selfhosted/forgejo/app/themes/theme-anthracite-dark.css
  kubernetes/apps/selfhosted/forgejo/app/themes/theme-anthracite-light.css
  kubernetes/apps/selfhosted/forgejo/app/themes/theme-anthracite.css
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

deploy caddy-l4 to remove addition ip
  ansible/playbook.yml
  docker/vps/02-rathole/docker-compose.yml
  docker/vps/03-edge/Dockerfile
  docker/vps/03-edge/config/Caddyfile
  docker/vps/03-edge/docker-compose.yml
  docker/vps/05-tunnel/docker-compose.yml
  kubernetes/apps/kubevirt/home-assistant/app/virtualmachine.yaml
  kubernetes/apps/network/towonel-agent/app/dnsendpoint.yaml
  kubernetes/apps/network/towonel-agent/app/externalsecret.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

remove proxy_protocol v2 for now
  docker/vps/03-edge/config/Caddyfile
Due: none

update theme
  kubernetes/apps/selfhosted/forgejo/app/themes/theme-anthracite-dark.css
  kubernetes/apps/selfhosted/forgejo/app/themes/theme-anthracite-light.css
Due: none

add logo for forgejo
  kubernetes/apps/selfhosted/forgejo/app/helmrelease.yaml
  kubernetes/apps/selfhosted/forgejo/app/img/apple-touch-icon.png
  kubernetes/apps/selfhosted/forgejo/app/img/favicon.png
  kubernetes/apps/selfhosted/forgejo/app/img/favicon.svg
  kubernetes/apps/selfhosted/forgejo/app/img/logo.png
  kubernetes/apps/selfhosted/forgejo/app/img/logo.svg
  kubernetes/apps/selfhosted/forgejo/app/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix stuff
  docker/vps/03-edge/config/Caddyfile
Due: none

use env var instead of uglyness
  docker/vps/03-edge/config/Caddyfile
  docker/vps/03-edge/docker-compose.yml
Due: yamllint, yamlfmt

fix kubevirt stuff
  kubernetes/apps/kubevirt/operator/app/kubevirt-cr.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix: bypass flux oci push image filter via .bin/.txt extensions
  kubernetes/apps/selfhosted/forgejo/app/img/apple-touch-icon.png.bin
  kubernetes/apps/selfhosted/forgejo/app/img/favicon.png.bin
  kubernetes/apps/selfhosted/forgejo/app/img/favicon.svg.txt
  kubernetes/apps/selfhosted/forgejo/app/img/logo.png.bin
  kubernetes/apps/selfhosted/forgejo/app/img/logo.svg.txt
  kubernetes/apps/selfhosted/forgejo/app/kustomization.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

fix(container): update image git.erwanleboucher.dev/eleboucher/apoci (0.0.25 → 0.0.26) (#283)
  docker/vps/06-registry/docker-compose.yml
Due: yamllint, yamlfmt

feat: extend etcd heartbeat-interval
  talos/machineconfig.yaml.j2
Due: none

feat: return back into a single deployment for towonel
  docker/vps/05-tunnel/docker-compose.yml
Due: yamllint, yamlfmt

fix(container): update image ghcr.io/home-operations/gatus-sidecar (0.0.13 → 0.0.14) (#287)
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix app name
  kubernetes/apps/observability/gatus/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image git.erwanleboucher.dev/eleboucher/towonel-agent (0.0.16 → 0.0.20) (#289)
  kubernetes/apps/network/towonel-agent/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/home-operations/charts/tuppr (0.1.7 → 0.1.8) (#288)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image registry.erwanleboucher.dev/eleboucher/towonel-node (0.0.19 → 0.0.20) (#290)
  docker/vps/05-tunnel/docker-compose.yml
Due: yamllint, yamlfmt

update towonel
  docker/vps/05-tunnel/docker-compose.yml
  kubernetes/apps/network/towonel-agent/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

yoink 0nedrop
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/mogenius/helm-charts/renovate-operator (4.3.5 → 4.5.1) (#294)
  kubernetes/apps/automation/renovate-operator/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack (84.1.1 → 84.1.2) (#295)
  bootstrap/helmfile.d/00-crds.yaml
Due: yamllint, yamlfmt

add multiarch label
  docker/vps/07-runner/docker-compose.yml
Due: yamllint, yamlfmt

use port instead of expose
  docker/vps/05-tunnel/docker-compose.yml
Due: yamllint, yamlfmt

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack (84.1.2 → 84.2.0) (#297)
  bootstrap/helmfile.d/00-crds.yaml
Due: yamllint, yamlfmt

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx (2.20.14 → 2.20.15) (#296)
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/emberstack/helm-charts/reflector (10.0.35 → 10.0.39) (#293)
  kubernetes/apps/kube-system/reflector/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/alam00000/bentopdf (2.8.3 → 2.8.4) (#250)
  kubernetes/apps/selfhosted/bentopdf/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook
