Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

sops-check-encryption:
  name: SOPS Encryption Check
  entry: ./check-sops-encryption.sh
  language: system

yaml-schema-check:
  name: YAML Schema Validation
  entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
  language: system

yamllint:
  name: YAML Lint
  entry: yamllint
  language: system

yamlfmt:
  name: YAML Format
  entry: yamlfmt
  language: system

k8s-schema-hook:
  name: K8s Schema Hook
  entry: hooks/k8s_yaml_schema.py --config .k8s-schema-hook.yaml
  language: python
  additional_dependencies:
  - jmespath
  - ruamel.yaml

fix deployment of towonel
  docker/vps/05-tunnel/docker-compose.yml
Due: yamllint, yamlfmt

fix stuff
  docker/vps/04-observability/docker-compose.yml
Due: yamllint, yamlfmt

fix registry temp
  docker/vps/06-registry/docker-compose.yml
Due: yamllint, yamlfmt

update dns
  kubernetes/apps/network/pangolin-operator/site/dnsendpoint.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix intel stuff
  kubernetes/apps/kube-system/namespace.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

feat: yeet pangolin
  docker/vps/.doco-cd.yaml
  docker/vps/01-pangolin/config/anubis/policy.yaml
  docker/vps/01-pangolin/config/apoci/apoci.yaml
  docker/vps/01-pangolin/config/crowdsec/acquis.yaml
  docker/vps/01-pangolin/config/crowdsec/ban-ai-crawlers.yaml
  docker/vps/01-pangolin/config/crowdsec/ban-gafam.yaml
  docker/vps/01-pangolin/config/crowdsec/my-whitelist-postoverflows.yaml
  docker/vps/01-pangolin/config/crowdsec/my-whitelists.yaml
  docker/vps/01-pangolin/config/fluent-bit/custom-parsers.conf
  docker/vps/01-pangolin/config/fluent-bit/enrich.lua
  docker/vps/01-pangolin/config/fluent-bit/fluent-bit.conf
  docker/vps/01-pangolin/config/pangolin/config.yml
  docker/vps/01-pangolin/config/prometheus/prometheus.yml
  docker/vps/01-pangolin/config/traefik/dynamic_config.yml
  docker/vps/01-pangolin/config/traefik/traefik_config.yml
  docker/vps/01-pangolin/docker-compose.yml
  docker/vps/03-edge/docker-compose.yml
  docker/vps/04-observability/docker-compose.yml
  docker/vps/06-registry/docker-compose.yml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/pangolin-operator/ks.yaml
  kubernetes/apps/network/pangolin-operator/operator/externalsecret.yaml
  kubernetes/apps/network/pangolin-operator/operator/helmrelease.yaml
  kubernetes/apps/network/pangolin-operator/operator/kustomization.yaml
  kubernetes/apps/network/pangolin-operator/operator/ocirepository.yaml
  kubernetes/apps/network/pangolin-operator/site/kustomization.yaml
  kubernetes/apps/network/pangolin-operator/site/localsite.yaml
  kubernetes/apps/network/pangolin-operator/site/newtsite.yaml
  kubernetes/apps/network/pangolin-operator/site/privresources.yaml
  kubernetes/apps/network/pangolin-operator/site/publicresources.yaml
  kubernetes/apps/network/towonel-agent/app/dnsendpoint.yaml
  kubernetes/apps/network/towonel-agent/app/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix envoy
  docker/vps/.doco-cd/docker-compose.app.yaml
  kubernetes/apps/network/envoy-gateway/gateway/envoy.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

chore(gatus): remove pangolin
  .k8s-schema-hook.yaml
  hooks/k8s_yaml_schema.py
  kubernetes/apps/ai/ollama/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/config/config.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image docker.io/amazon/aws-cli (2.34.31 → 2.34.32) (#212)
  kubernetes/apps/jobs/k8s-schemas/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update sparkyfitness group (v0.16.5.7 → v0.16.5.8) (#215)
  kubernetes/apps/selfhosted/sparkyfitness/app/helmrelease.yaml
  kubernetes/apps/selfhosted/sparkyfitness/server/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image git.erwanleboucher.dev/eleboucher/towonel-agent (0.0.1 → 0.0.2) (#217)
  kubernetes/apps/network/towonel-agent/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image alpine/kubectl (1.35.3 → 1.35.4) (#214)
  kubernetes/apps/observability/headlamp/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/mealie-recipes/mealie (v3.15.2 → v3.16.0) (#213)
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add missing secrets
  kubernetes/apps/selfhosted/sparkyfitness/server/externalsecret.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

setup vx0
  kubernetes/apps/kube-system/cilium/app/networks.yaml
  kubernetes/apps/network/envoy-gateway/gateway/external.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

pin target
  kubernetes/apps/network/envoy-gateway/gateway/external.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/autobrr/qui (v1.16.1 → v1.17.0) (#222)
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update towonel to 0.0.4
  docker/vps/.doco-cd.yaml
  docker/vps/05-tunnel/docker-compose.yml
Due: yamllint, yamlfmt

update towonel-agent to 0.0.4
  kubernetes/apps/network/towonel-agent/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix deployment
  kubernetes/apps/network/towonel-agent/app/dnsendpoint.yaml
  kubernetes/apps/network/towonel-agent/app/externalsecret.yaml
  kubernetes/apps/network/towonel-agent/app/helmrelease.yaml
  kubernetes/apps/network/towonel-agent/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update towonel-node
  docker/vps/05-tunnel/docker-compose.yml
Due: yamllint, yamlfmt

tmp fix
  ansible/mod.just
  docker/vps/.doco-cd/docker-compose.app.yaml
  docker/vps/05-tunnel/docker-compose.yml
Due: yamllint, yamlfmt

update towonel
  docker/vps/05-tunnel/docker-compose.yml
  kubernetes/apps/network/towonel-agent/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/spegel-org/helm-charts/spegel (0.6.0 → 0.7.0) (#223)
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(towonel): add grafanadashboard
  kubernetes/apps/network/towonel-agent/app/grafanadashboard.yaml
  kubernetes/apps/network/towonel-agent/app/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix stuff
  kubernetes/apps/network/towonel-agent/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image git.erwanleboucher.dev/eleboucher/apoci (0.0.24 → 0.0.25) (#226)
  docker/vps/06-registry/docker-compose.yml
Due: yamllint, yamlfmt

feat(container): update image ghcr.io/home-operations/radarr (6.1.2.10359 → 6.2.0.10390) (#227)
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update broken stuff
  kubernetes/apps/network/towonel-agent/app/helmrelease.yaml
  kubernetes/apps/security/kanidm/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Path conditions:
  sops-check-encryption: any of: .*\.sops\.ya?ml
  yaml-schema-check: any of: ^kubernetes/.+\.ya?ml$, but not: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
  yamllint: any of: .+\.ya?ml$, but not: ^config/
  yamlfmt: any of: .+\.ya?ml$, but not: ^config/
  k8s-schema-hook: any of: ^kubernetes/.+\.ya?ml$
