Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yamllint, yamlfmt

sops-check-encryption:
  name: SOPS Encryption Check
  entry: ./check-sops-encryption.sh
  language: system

yamllint:
  name: YAML Lint
  entry: yamllint
  language: system

yamlfmt:
  name: YAML Format
  entry: yamlfmt
  language: system

update longhorn
  kubernetes/infrastructure/longhorn/app/helmrelease.yaml
Due: yamllint, yamlfmt

make config not read only to update token auto
  kubernetes/infrastructure/backup/app/job.yaml
Due: yamllint, yamlfmt

update rclone secrets
  kubernetes/infrastructure/backup/app/secret.sops.yaml
Due: sops-check-encryption, yamllint, yamlfmt

allow write on data
  kubernetes/infrastructure/backup/app/job.yaml
Due: yamllint, yamlfmt

fix google secrets
  kubernetes/infrastructure/backup/app/secret.sops.yaml
Due: sops-check-encryption, yamllint, yamlfmt

use hostpath for faster speed
  kubernetes/infrastructure/backup/app/job.yaml
Due: yamllint, yamlfmt

remove verbose
  kubernetes/infrastructure/backup/app/job.yaml
Due: yamllint, yamlfmt

have multiple flaresolver replica
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
Due: yamllint, yamlfmt

Add gateway support cert manager
  kubernetes/infrastructure/cert-manager/app/helmrelease.yaml
  kubernetes/infrastructure/envoy/config/envoy.yaml
Due: yamllint, yamlfmt

Revert "use alertmanager for flux error instead"
  kubernetes/flux-system/flux-instance/alerts/discord-alert.yaml
  kubernetes/flux-system/flux-instance/alerts/kustomization.yaml
  kubernetes/flux-system/flux-instance/alerts/provider.yaml
  kubernetes/flux-system/flux-instance/alerts/secret.sops.yaml
Due: sops-check-encryption, yamllint, yamlfmt

remove unused secrets
  kubernetes/apps/downloads/qbitmanage-secret.sops.yaml
  kubernetes/apps/downloads/vpn-secret.sops.yaml
Due: sops-check-encryption, yamllint, yamlfmt

remove bunch of unused stuff
  kubernetes/apps/ai/kustomization.yaml
  kubernetes/apps/ai/n8n/app/helmrelease.yaml
  kubernetes/apps/ai/n8n/app/kustomization.yaml
  kubernetes/apps/ai/n8n/ks.yaml
  kubernetes/apps/system/authelia/app/externalsecret.yaml
  kubernetes/apps/system/authelia/app/helmrelease.yaml
  kubernetes/apps/system/authelia/app/httproute.yaml
  kubernetes/apps/system/authelia/app/kustomization.yaml
  kubernetes/apps/system/authelia/ks.yaml
  kubernetes/apps/system/authelia/kustomization.yaml
  kubernetes/apps/system/authelia/repository.yaml
  kubernetes/apps/system/authentik/app/externalsecret-postgres.yaml
  kubernetes/apps/system/authentik/app/externalsecret.yaml
  kubernetes/apps/system/authentik/app/helmrelease.yaml
  kubernetes/apps/system/authentik/app/httproute.yaml
  kubernetes/apps/system/authentik/app/kustomization.yaml
  kubernetes/apps/system/authentik/app/postgres-cluster.yaml
  kubernetes/apps/system/authentik/app/repository.yaml
  kubernetes/apps/system/authentik/ks.yaml
  kubernetes/apps/system/kustomization.yaml
Due: yamllint, yamlfmt

Add streamystats
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/streamystats/app/externalsecret.yaml
  kubernetes/apps/media/streamystats/app/helmrelease.yaml
  kubernetes/apps/media/streamystats/app/kustomization.yaml
  kubernetes/apps/media/streamystats/ks.yaml
  kubernetes/components/cnpg/README.md
  kubernetes/components/cnpg/cluster.yaml
  kubernetes/components/cnpg/externalsecret.yaml
  kubernetes/components/cnpg/kustomization.yaml
Due: yamllint, yamlfmt

update some apps
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Due: yamllint, yamlfmt

add lehavre node
  talos/nodes/le-havre.yaml.j2
Due: none

Fix bitwarden certificate issuer
  kubernetes/apps/security/external-secrets/app/certificate.yaml
Due: yamllint, yamlfmt

remove k8s-gateway
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/kube-system/backup/ks.yaml
  kubernetes/apps/kube-system/intel-device-plugins-operator/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/monitoring/prometheus/ks.yaml
  kubernetes/apps/network/envoy/config/envoy.yaml
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/network/k8s-gateway/app/kustomization.yaml
  kubernetes/apps/network/k8s-gateway/app/ocirepository.yaml
  kubernetes/apps/network/k8s-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/security/external-secrets/store/secretstore.yaml
  kubernetes/apps/system/adguard/app/helmrelease.yaml
  talos/nodes/kharkiv.yaml.j2
Due: yamllint, yamlfmt

update nodes
  talos/nodes/kharkiv.yaml.j2
  talos/nodes/le-havre.yaml.j2
Due: none

fix more stuff
  kubernetes/apps/automation/renovate-operator/jobs/kustomization.yaml
  kubernetes/apps/automation/renovate-operator/ks.yaml
  kubernetes/apps/kube-system/longhorn/app/helmrelease.yaml
Due: yamllint, yamlfmt

update talos config for tailscale
  talos/machineconfig.yaml.j2
Due: none

update bezsel token
  kubernetes/apps/monitoring/beszel/app/secret.sops.yaml
Due: sops-check-encryption, yamllint, yamlfmt

cleanup and fix
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/monitoring/speedtest-tracker/ks.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/lldap/app/externalsecret.yaml
  kubernetes/apps/system/lldap/app/helmrelease.yaml
  kubernetes/apps/system/lldap/app/kustomization.yaml
  kubernetes/apps/system/lldap/ks.yaml
Due: yamllint, yamlfmt

update streamystats pg login
  kubernetes/apps/media/streamystats/app/helmrelease.yaml
Due: yamllint, yamlfmt

allow sonarr and radarr to use nfs instead
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/components/nfs-media/kustomization.yaml
  kubernetes/components/nfs-media/pv-media.yaml
  kubernetes/components/nfs-media/pvc-media.yaml
Due: yamllint, yamlfmt

fix db url
  kubernetes/apps/media/streamystats/app/helmrelease.yaml
Due: yamllint, yamlfmt

fix derp
  kubernetes/apps/kube-system/helm-repos/app/csi-driver-nfs.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/nfs-csi-driver/app/helmrelease.yaml
  kubernetes/apps/kube-system/nfs-csi-driver/app/kustomization.yaml
  kubernetes/apps/kube-system/nfs-csi-driver/app/repository.yaml
  kubernetes/apps/kube-system/nfs-csi-driver/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/streamystats/app/externalsecret.yaml
  kubernetes/apps/media/streamystats/app/helmrelease.yaml
  kubernetes/apps/media/streamystats/ks.yaml
  kubernetes/components/cnpg/cluster.yaml
  kubernetes/components/nfs-media/kustomization.yaml
  kubernetes/components/nfs-media/pv-media.yaml
  kubernetes/components/nfs-media/storageclass.yaml
Due: yamllint, yamlfmt

Path conditions:
  sops-check-encryption: any of: ^kubernetes/.+\.sops\.yaml$
  yamllint: any of: .+\.ya?ml$, but not: ^config/
  yamlfmt: any of: .+\.ya?ml$, but not: ^config/
