Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: sops-check-encryption
        name: SOPS Encryption Check
        entry: ./check-sops-encryption.sh
        language: system
        files: .*\.sops\.ya?ml
      - id: yaml-schema-check
        name: YAML Schema Validation
        entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
        language: system
        files: ^kubernetes/.+\.ya?ml$
        exclude: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
      - id: yamllint
        name: YAML Lint
        entry: yamllint
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: yamlfmt
        name: YAML Format
        entry: yamlfmt
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: k8s-schema-hook
        name: K8s Schema Hook
        entry: hooks/k8s_yaml_schema.py --config .k8s-schema-hook.yaml
        language: python
        files: ^kubernetes/.+\.ya?ml$
        additional_dependencies:
          - jmespath
          - ruamel.yaml

feat: deploy turbo node
  docker/vps/01-pangolin/config/traefik/dynamic_config.yml
  docker/vps/01-pangolin/config/traefik/traefik_config.yml
  docker/vps/01-pangolin/docker-compose.yml
  kubernetes/apps/network/pangolin-operator/site/dnsendpoint.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

deploy turbo agent
  docker/vps/01-pangolin/docker-compose.yml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/turbo-agent/app/externalsecret.yaml
  kubernetes/apps/network/turbo-agent/app/helmrelease.yaml
  kubernetes/apps/network/turbo-agent/app/kustomization.yaml
  kubernetes/apps/network/turbo-agent/app/ocirepository.yaml
  kubernetes/apps/network/turbo-agent/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container)!: Update image code.forgejo.org/forgejo/forgejo (14.0.4 → 15.0.0) (#191)
  kubernetes/apps/selfhosted/forgejo/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single (0.11.32 → 0.12.0) (#190)
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image couchdb (3.4.2 → 3.5.1) (#188)
  kubernetes/apps/selfhosted/obsidian-livesync/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

chore(container): update image ghcr.io/bjw-s-labs/forgejo-runner (cfcced5 → cbcf25e) (#192)
  kubernetes/apps/selfhosted/forgejo/runner/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

handle additional ip
  ansible/playbook.yml
  docker/vps/.doco-cd.yaml
  docker/vps/01-pangolin/config/traefik/dynamic_config.yml
  docker/vps/01-pangolin/config/traefik/traefik_config.yml
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

fix(container): update image git.erwanleboucher.dev/eleboucher/apoci (0.0.23 → 0.0.24) (#195)
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

feat(container): update toolhive group (0.20.0 → 0.21.0) (#193)
  kubernetes/apps/ai/toolhive/app/ocirepository.yaml
  kubernetes/apps/ai/toolhive/crds/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update kubernetes group (v1.35.3 → v1.35.4) (#194)
  kubernetes/apps/system-upgrade/tuppr/upgrade/kubeupgrade.yaml
  talos/machineconfig.yaml.j2
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image docker.io/amazon/aws-cli (2.34.30 → 2.34.31) (#196)
  kubernetes/apps/jobs/k8s-schemas/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/umami-software/umami (3.0.3 → 3.1.0) (#199)
  kubernetes/apps/observability/umami/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image dxflrs/garage (v2.2.0 → v2.3.0) (#197)
  kubernetes/apps/garage-system/garage/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image mirror.gcr.io/envoyproxy/gateway-helm (v1.7.1 → v1.7.2) (#201)
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image docker.io/envoyproxy/gateway-helm (1.7.1 → 1.7.2) (#200)
  bootstrap/helmfile.d/00-crds.yaml
Due: yamllint, yamlfmt

chore update vps runner config
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

fix docker-dind image
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

feat(container)!: Update image code.forgejo.org/forgejo-helm/forgejo (16.2.2 → 17.0.0) (#208)
  kubernetes/apps/selfhosted/forgejo/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image docker.io/gotenberg/gotenberg (8.30.1 → 8.31.0) (#206)
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ollama/ollama (0.20.7 → 0.21.0) (#203)
  kubernetes/apps/ai/ollama/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

reduce cpu limit
  docker/vps/01-pangolin/docker-compose.yml
  kubernetes/apps/selfhosted/forgejo/runner/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/fluent/helm-charts/fluent-bit (0.57.2 → 0.57.3) (#209)
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

deploy rathole
  ansible/playbook.yml
  docker/vps/.doco-cd.yaml
  docker/vps/02-rathole/docker-compose.yml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/rathole/app/externalsecret.yaml
  kubernetes/apps/network/rathole/app/helmrelease.yaml
  kubernetes/apps/network/rathole/app/kustomization.yaml
  kubernetes/apps/network/rathole/app/ocirepository.yaml
  kubernetes/apps/network/rathole/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix intel-gpu-resource-driver
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat: add xpumd
  kubernetes/apps/kube-system/intel-xpumd/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-xpumd/app/kustomization.yaml
  kubernetes/apps/kube-system/intel-xpumd/app/namespace.yaml
  kubernetes/apps/kube-system/intel-xpumd/app/ocirepository.yaml
  kubernetes/apps/kube-system/intel-xpumd/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/network/rathole/app/externalsecret.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add missing grafana dashboard
  kubernetes/apps/kube-system/intel-xpumd/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/intel-xpumd/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-xpumd/app/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix broken stuff
  kubernetes/apps/kube-system/intel-xpumd/app/kustomization.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

fix intel-xpumd again
  kubernetes/apps/kube-system/intel-xpumd/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

deploy towonel
  ansible/playbook.yml
  docker/vps/.doco-cd.yaml
  docker/vps/01-pangolin/docker-compose.yml
  docker/vps/02-rathole/docker-compose.yml
  docker/vps/03-edge/config/Caddyfile
  docker/vps/03-edge/config/anubis-policy.yaml
  docker/vps/03-edge/docker-compose.yml
  docker/vps/04-observability/config/fluent-bit/enrich.lua
  docker/vps/04-observability/config/fluent-bit/fluent-bit.conf
  docker/vps/04-observability/config/prometheus.yml
  docker/vps/04-observability/docker-compose.yml
  docker/vps/05-tunnel/docker-compose.yml
  docker/vps/06-registry/config/apoci.yaml
  docker/vps/06-registry/docker-compose.yml
  docker/vps/07-runner/docker-compose.yml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/pangolin-operator/site/dnsendpoint.yaml
  kubernetes/apps/network/towonel-agent/app/externalsecret.yaml
  kubernetes/apps/network/towonel-agent/app/helmrelease.yaml
  kubernetes/apps/network/towonel-agent/app/kustomization.yaml
  kubernetes/apps/network/towonel-agent/app/ocirepository.yaml
  kubernetes/apps/network/towonel-agent/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix deployment of towonel
  docker/vps/05-tunnel/docker-compose.yml
Due: yamllint, yamlfmt
