Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: sops-check-encryption
        name: SOPS Encryption Check
        entry: ./check-sops-encryption.sh
        language: system
        files: .*\.sops\.ya?ml
      - id: yaml-schema-check
        name: YAML Schema Validation
        entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
        language: system
        files: ^kubernetes/.+\.ya?ml$
        exclude: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
      - id: yamllint
        name: YAML Lint
        entry: yamllint
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: yamlfmt
        name: YAML Format
        entry: yamlfmt
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: k8s-schema-hook
        name: K8s Schema Hook
        entry: hooks/k8s_yaml_schema.py --config .k8s-schema-hook.yaml
        language: python
        files: ^kubernetes/.+\.ya?ml$
        additional_dependencies:
          - jmespath
          - ruamel.yaml

fix(container): update image git.erwanleboucher.dev/eleboucher/towonel-agent (0.0.14 → 0.0.15) (#269)
  kubernetes/apps/network/towonel-agent/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image registry.erwanleboucher.dev/eleboucher/towonel-node (0.0.14 → 0.0.15) (#270)
  docker/vps/05-tunnel/docker-compose.yml
Due: yamllint, yamlfmt

fix(container): update image ollama/ollama (0.21.1 → 0.21.2) (#268)
  kubernetes/apps/ai/ollama/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update toolhive group (0.24.0 → 0.24.1) (#266)
  kubernetes/apps/ai/toolhive/app/ocirepository.yaml
  kubernetes/apps/ai/toolhive/crds/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image git.erwanleboucher.dev/eleboucher/towonel-agent (0.0.15 → 0.0.16) (#271)
  kubernetes/apps/network/towonel-agent/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack (84.0.0 → 84.0.1) (#273)
  bootstrap/helmfile.d/00-crds.yaml
Due: yamllint, yamlfmt

chore drop wait
  kubernetes/apps/kubevirt/home-assistant/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat: deploy victoria-logs-collector
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/ocirepository.yaml
  kubernetes/apps/observability/victoria-logs-collector/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-collector (0.2.14 → 0.3.1) (#274)
  kubernetes/apps/observability/victoria-logs-collector/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

don't limit size
  kubernetes/apps/selfhosted/forgejo/runner/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat: use json telemetry
  kubernetes/apps/network/envoy-gateway/gateway/envoy.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix workdir parent
  kubernetes/apps/selfhosted/forgejo/runner/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix dragonfly db
  kubernetes/apps/ai/toolhive/config/virtualmcpserver.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

feat add a bunch of mcp
  kubernetes/apps/ai/context7-mcp/app/externalsecret.yaml
  kubernetes/apps/ai/context7-mcp/app/kustomization.yaml
  kubernetes/apps/ai/context7-mcp/app/mcpserver.yaml
  kubernetes/apps/ai/context7-mcp/ks.yaml
  kubernetes/apps/ai/grafana-mcp/app/kustomization.yaml
  kubernetes/apps/ai/grafana-mcp/app/mcpserver.yaml
  kubernetes/apps/ai/grafana-mcp/ks.yaml
  kubernetes/apps/ai/kustomization.yaml
  kubernetes/apps/ai/memory-mcp/app/kustomization.yaml
  kubernetes/apps/ai/memory-mcp/app/mcpserver.yaml
  kubernetes/apps/ai/memory-mcp/ks.yaml
  kubernetes/apps/ai/victoria-logs-mcp/app/kustomization.yaml
  kubernetes/apps/ai/victoria-logs-mcp/app/mcpserver.yaml
  kubernetes/apps/ai/victoria-logs-mcp/ks.yaml
  kubernetes/apps/observability/grafana/instance/grafanaserviceaccount.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix docker image being bad
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

remove derp
  kubernetes/apps/ai/memory-mcp/app/kustomization.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

remove verbose
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack (84.0.1 → 84.1.0) (#280)
  bootstrap/helmfile.d/00-crds.yaml
Due: yamllint, yamlfmt

feat(container): update image ghcr.io/external-secrets/charts/external-secrets (2.3.0 → 2.4.0) (#277)
  bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/security/external-secrets/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image forgejo.ellis.link/continuwuation/continuwuity (v0.5.7 → v0.5.8) (#278)
  kubernetes/apps/selfhosted/continuwuity/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update talos group (v1.12.6 → v1.12.7) (#275)
  kubernetes/apps/system-upgrade/tuppr/upgrade/talosupgrade.yaml
  talos/machineconfig.yaml.j2
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/stacklok/dockyard/npx/context7 (2.1.4 → 2.1.8) (#276)
  kubernetes/apps/ai/context7-mcp/app/mcpserver.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update runner
  kubernetes/apps/selfhosted/forgejo/runner/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

improve self hosted nfs config
  kubernetes/apps/nfs/server/app/helmrelease.yaml
  kubernetes/components/nfs-scaler/scaledobject.yaml
  talos/machineconfig.yaml.j2
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image alpine/kubectl (1.35.4 → 1.36.0) (#279)
  kubernetes/apps/observability/headlamp/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/kimdre/doco-cd (0.82.1 → 0.82.2) (#281)
  docker/vps/.doco-cd/docker-compose.app.yaml
Due: yamllint, yamlfmt

feat: add crowdsec L3/L4 protection for tunnel
  ansible/playbook.yml
  ansible/templates/crowdsec-firewall-bouncer.yaml.j2
  docker/vps/.doco-cd.yaml
  docker/vps/04-observability/config/prometheus.yml
  docker/vps/09-crowdsec/acquis.d/journald-ssh.yaml
  docker/vps/09-crowdsec/config/config.yaml.local
  docker/vps/09-crowdsec/docker-compose.yml
  docker/vps/09-crowdsec/scenarios/gafam-asn.yaml
  docker/vps/09-crowdsec/whitelists/home-whitelist.yaml
Due: yamllint, yamlfmt

fix kubervirt
  kubernetes/apps/kubevirt/home-assistant/app/virtualmachine.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook
