Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

sops-check-encryption:
  name: SOPS Encryption Check
  entry: ./check-sops-encryption.sh
  language: system

yaml-schema-check:
  name: YAML Schema Validation
  entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
  language: system

yamllint:
  name: YAML Lint
  entry: yamllint
  language: system

yamlfmt:
  name: YAML Format
  entry: yamlfmt
  language: system

k8s-schema-hook:
  name: K8s Schema Hook
  entry: hooks/k8s_yaml_schema.py --config .k8s-schema-hook.yaml
  language: python
  additional_dependencies:
  - jmespath
  - ruamel.yaml

fix(container): update image ghcr.io/alam00000/bentopdf (2.8.3 → 2.8.4) (#250)
  kubernetes/apps/selfhosted/bentopdf/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image registry.erwanleboucher.dev/eleboucher/towonel-node (0.0.21 → 0.0.22) (#299)
  docker/vps/05-tunnel/docker-compose.yml
Due: yamllint, yamlfmt

fix(container): update image git.erwanleboucher.dev/eleboucher/towonel-agent (0.0.21 → 0.0.22) (#298)
  kubernetes/apps/network/towonel-agent/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update talos group (v1.12.7 → v1.13.0) (#300)
  kubernetes/apps/system-upgrade/tuppr/upgrade/talosupgrade.yaml
  talos/machineconfig.yaml.j2
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix talos
  talos/machineconfig.yaml.j2
Due: none

feat(container): update kubernetes group (v1.35.4 → v1.36.0) (#265)
  kubernetes/apps/system-upgrade/tuppr/upgrade/kubeupgrade.yaml
  talos/machineconfig.yaml.j2
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix immich
  kubernetes/apps/selfhosted/forgejo/runner/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update with talos 1.13 and kube 1.36
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
  talos/machineconfig.yaml.j2
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/stacklok/dockyard/npx/context7 (2.1.8 → 2.2.0) (#301)
  kubernetes/apps/ai/context7-mcp/app/mcpserver.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

chore: update sectext in vmalertmanager
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat: add sidero mcp
  kubernetes/apps/ai/kustomization.yaml
  kubernetes/apps/ai/sidero-mcp/app/kustomization.yaml
  kubernetes/apps/ai/sidero-mcp/app/mcpremoteproxy.yaml
  kubernetes/apps/ai/sidero-mcp/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update with talos 1.13 and kube 1.36
  talos/machineconfig.yaml.j2
Due: none

update vm metrics config
  kubernetes/apps/network/rathole/app/externalsecret.yaml
  kubernetes/apps/observability/grafana/instance/datasource.yaml
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/grafanadashboard-node-exporter.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/cluster/externalsecret.yaml
  kubernetes/apps/observability/victoria-metrics/cluster/grafanadashboard.yaml
  kubernetes/apps/observability/victoria-metrics/cluster/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/cluster/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/cluster/ocirepository.yaml
  kubernetes/apps/observability/victoria-metrics/cluster/resources/flux-metrics.yaml
  kubernetes/apps/observability/victoria-metrics/ks.yaml
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/components/nfs-scaler/scaledobject.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack (84.2.0 → 84.2.1) (#302)
  bootstrap/helmfile.d/00-crds.yaml
Due: yamllint, yamlfmt

feat: wizarrrr yeet
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/kustomization.yaml
  kubernetes/apps/media/wizarr/app/ocirepository.yaml
  kubernetes/apps/media/wizarr/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update dnsendpoint
  kubernetes/apps/network/towonel-agent/app/dnsendpoint.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat: fix kromgo
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix anubis
  docker/vps/03-edge/config/anubis-policy.yaml
  docker/vps/03-edge/docker-compose.yml
Due: yamllint, yamlfmt

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack (84.2.1 → 84.3.0) (#305)
  bootstrap/helmfile.d/00-crds.yaml
Due: yamllint, yamlfmt

feat: deploy factory.erwanleboucher.dev
  kubernetes/apps/automation/image-factory/app/externalsecret.yaml
  kubernetes/apps/automation/image-factory/app/helmrelease.yaml
  kubernetes/apps/automation/image-factory/app/kustomization.yaml
  kubernetes/apps/automation/image-factory/app/ocirepository.yaml
  kubernetes/apps/automation/image-factory/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix caddyfile
  docker/vps/03-edge/config/Caddyfile
Due: none

add extensions
  kubernetes/apps/automation/image-factory/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

chore(container): update image ghcr.io/bjw-s-labs/forgejo-runner (cbcf25e → 948d7dd) (#306)
  kubernetes/apps/selfhosted/forgejo/runner/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/kimdre/doco-cd (0.82.2 → 0.83.0) (#304)
  docker/vps/.doco-cd/docker-compose.app.yaml
Due: yamllint, yamlfmt

fix(container): update image quay.io/prometheus/prometheus (v3.11.2 → v3.11.3) (#303)
  docker/vps/04-observability/docker-compose.yml
Due: yamllint, yamlfmt

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack (0.74.1 → 0.76.0) (#309)
  kubernetes/apps/observability/victoria-metrics/cluster/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-operator (0.62.0 → 0.62.1) (#307)
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-collector (0.3.1 → 0.3.2) (#308)
  kubernetes/apps/observability/victoria-logs-collector/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

chore: increase ram for flaresolverr
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/home-operations/charts/tuppr (0.1.8 → 0.1.10) (#313)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Path conditions:
  sops-check-encryption: any of: .*\.sops\.ya?ml
  yaml-schema-check: any of: ^kubernetes/.+\.ya?ml$, but not: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
  yamllint: any of: .+\.ya?ml$, but not: ^config/
  yamlfmt: any of: .+\.ya?ml$, but not: ^config/
  k8s-schema-hook: any of: ^kubernetes/.+\.ya?ml$
