Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: sops-check-encryption
        name: SOPS Encryption Check
        entry: ./check-sops-encryption.sh
        language: system
        files: .*\.sops\.ya?ml
      - id: yaml-schema-check
        name: YAML Schema Validation
        entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
        language: system
        files: ^kubernetes/.+\.ya?ml$
        exclude: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
      - id: yamllint
        name: YAML Lint
        entry: yamllint
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: yamlfmt
        name: YAML Format
        entry: yamlfmt
        language: system
        exclude: ^config/
        files: .+\.ya?ml$
      - id: k8s-schema-hook
        name: K8s Schema Hook
        entry: hooks/k8s_yaml_schema.py --config .k8s-schema-hook.yaml
        language: python
        files: ^kubernetes/.+\.ya?ml$
        additional_dependencies:
          - jmespath
          - ruamel.yaml

fix stuff
  kubernetes/apps/jobs/k8s-schemas/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

another fix for k8s-schema
  kubernetes/apps/jobs/k8s-schemas/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add more pods per node and reduce home assistant requested cpu
  kubernetes/apps/kubevirt/home-assistant/app/virtualmachine.yaml
  talos/machineconfig.yaml.j2
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add more pods per node and reduce home assistant requested cpu
  kubernetes/apps/kubevirt/home-assistant/app/virtualmachine.yaml
  kubernetes/apps/selfhosted/continuwuity/ks.yaml
  talos/machineconfig.yaml.j2
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Add continuwuity secrets
  kubernetes/apps/selfhosted/continuwuity/app/externalsecret.yaml
  kubernetes/apps/selfhosted/continuwuity/app/helmrelease.yaml
  kubernetes/apps/selfhosted/continuwuity/app/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add traffic policy
  kubernetes/apps/selfhosted/continuwuity/app/kustomization.yaml
  kubernetes/apps/selfhosted/continuwuity/app/trafficpolicy.yaml
  kubernetes/apps/selfhosted/continuwuity/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update descheduler config
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/app/ocirepository.yaml
  kubernetes/apps/kube-system/descheduler/app/rbac.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

make talos config more sexy
  talos/nodes/kharkiv.yaml.j2
  talos/nodes/le-havre.yaml.j2
  talos/schematic.yaml.j2
Due: none

fix cdi storage profile
  kubernetes/apps/kubevirt/cdi/app/kustomization.yaml
  kubernetes/apps/kubevirt/cdi/app/storageprofile.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Generate new schematic
  talos/machineconfig.yaml.j2
  talos/mod.just
Due: none

update pangolin setup with new ovh vps
  kubernetes/apps/network/newt/app/helmrelease.yaml
  vps/playbook.yml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add reloader for newt
  kubernetes/apps/network/newt/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update cilium config with the new version
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix ovh cert manager issuer
  kubernetes/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/config/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

rename project to homelab
  README.md
  kubernetes/apps/automation/renovate-operator/jobs/job.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/config/config.yaml
  kubernetes/apps/selfhosted/webhook/app/resources/hooks.yaml
  kubernetes/apps/system/homepage/app/helmrelease.yaml
  renovate.json
  vps/playbook.yml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

new newt site id after renaming project
  kubernetes/apps/network/newt/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update renovate operator config
  kubernetes/apps/automation/renovate-operator/jobs/job.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Add RWX to cdi
  kubernetes/apps/kubevirt/cdi/app/storageprofile.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

test for matrix
  vps/docker-compose.yml
Due: yamllint, yamlfmt

test my changes
  kubernetes/apps/observability/kromgo/app/config/config.yaml
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Add more historical data
  kubernetes/apps/observability/kromgo/app/config/config.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

take the avg not the sum for the latency
  kubernetes/apps/observability/kromgo/app/config/config.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

update latency query
  kubernetes/apps/observability/kromgo/app/config/config.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

add more historical data
  kubernetes/apps/observability/kromgo/app/config/config.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

make sure to use the latest image
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add history for sla
  kubernetes/apps/observability/kromgo/app/config/config.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

test fix
  kubernetes/apps/observability/kromgo/app/config/config.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

fix name of service
  kubernetes/apps/observability/node-exporter/app/scrapeconfig-vps.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Add prometheus remote write to get my vps node exporter data
  kubernetes/apps/network/newt/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/prometheus-remote-write/app/httproute.yaml
  kubernetes/apps/observability/prometheus-remote-write/app/kustomization.yaml
  kubernetes/apps/observability/prometheus-remote-write/app/securitypolicy.yaml
  kubernetes/apps/observability/prometheus-remote-write/ks.yaml
  vps/docker-compose.yml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add kustomize and yq
  .mise.toml
Due: none

fix path
  kubernetes/apps/observability/prometheus-remote-write/app/httproute.yaml
  kubernetes/apps/observability/prometheus-remote-write/app/securitypolicy.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook
