Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

sops-check-encryption:
  name: SOPS Encryption Check
  entry: ./check-sops-encryption.sh
  language: system

yaml-schema-check:
  name: YAML Schema Validation
  entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
  language: system

yamllint:
  name: YAML Lint
  entry: yamllint
  language: system

yamlfmt:
  name: YAML Format
  entry: yamlfmt
  language: system

k8s-schema-hook:
  name: K8s Schema Hook
  entry: hooks/k8s_yaml_schema.py --config .k8s-schema-hook.yaml
  language: python
  additional_dependencies:
  - jmespath
  - ruamel.yaml

oops i removed it by accident
  kubernetes/apps/selfhosted/forgejo/runner/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix naming for sure
  .forgejo/workflows/flux-s3-sync.yaml
Due: yamllint, yamlfmt

fix naming for sure
  .forgejo/workflows/flux-s3-sync.yaml
  kubernetes/apps/selfhosted/forgejo/runner/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/renovatebot/renovate (43.101.1 → 43.101.4)
  kubernetes/apps/automation/renovate-operator/jobs/job.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

typooooo
  kubernetes/apps/selfhosted/forgejo/runner/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

move to org wide secrets
  .forgejo/workflows/flux-s3-sync.yaml
Due: yamllint, yamlfmt

chore(renovate-webhook): fix conditions for gatus check
  kubernetes/apps/automation/renovate-operator/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/home-operations/charts/pangolin-operator (0.0.2 → 0.0.3)
  kubernetes/apps/network/pangolin-operator/operator/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack (82.15.1 → 82.16.0)
  bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(grafana-dashboards)!: Update dashboard 1860 (42 → 43)
  kubernetes/apps/observability/node-exporter/app/grafanadashboard.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

chore: increase bazarr memory limit
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

test new version of operator
  kubernetes/apps/network/pangolin-operator/ks.yaml
  kubernetes/apps/network/pangolin-operator/operator/helmrelease.yaml
  kubernetes/apps/network/pangolin-operator/operator/ocirepository.yaml
  kubernetes/apps/network/pangolin-operator/site/dnsendpoint.yaml
  kubernetes/apps/network/pangolin-operator/site/kustomization.yaml
  kubernetes/apps/network/pangolin-operator/site/localsite.yaml
  kubernetes/apps/network/pangolin-operator/site/newtsite.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix gatus conditions
  kubernetes/apps/automation/renovate-operator/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

test new pangolin
  kubernetes/apps/network/pangolin-operator/operator/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/jellyfin/jellyfin (10.11.6 → 10.11.7)
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

pin anubis
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

fix
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

use whitelist logic instead of blacklist
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

fix(container): update image ghcr.io/home-operations/charts/tuppr (0.1.2 → 0.1.3)
  kubernetes/apps/system-upgrade/tuppr/app/repository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

yeet anubis
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

feat: add anubis to forgejo
  kubernetes/apps/selfhosted/forgejo/app/anubis.yaml
  kubernetes/apps/selfhosted/forgejo/app/externalsecret.yaml
  kubernetes/apps/selfhosted/forgejo/app/helmrelease.yaml
  kubernetes/apps/selfhosted/forgejo/app/httproute.yaml
  kubernetes/apps/selfhosted/forgejo/app/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix remove kguardian temp
  kubernetes/apps/kguardian/kustomization.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

fix(container): update image ghcr.io/alam00000/bentopdf (2.8.0 → 2.8.1)
  kubernetes/apps/selfhosted/bentopdf/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix(container): update image docker.io/crowdsecurity/crowdsec (v1.7.6 → v1.7.7)
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

feat: deploy anubis a bit everywhere
  docker/vps/.doco-cd.yaml
  docker/vps/01-pangolin/docker-compose.yml
  kubernetes/apps/network/pangolin-operator/site/publicresources.yaml
  kubernetes/apps/selfhosted/forgejo/app/anubis.yaml
  kubernetes/apps/selfhosted/forgejo/app/externalsecret.yaml
  kubernetes/apps/selfhosted/forgejo/app/kustomization.yaml
  kubernetes/apps/selfhosted/forgejo/ks.yaml
  kubernetes/components/anubis/deployment.yaml
  kubernetes/components/anubis/externalsecret.yaml
  kubernetes/components/anubis/kustomization.yaml
  kubernetes/components/anubis/service.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

cleanup
  bootstrap/resources.yaml.j2
Due: none

remove traefik dashboard
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

dummy change
  ansible/mod.just
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

move config to files
  docker/vps/01-pangolin/config/traefik/dynamic_config.yml
  docker/vps/01-pangolin/config/traefik/traefik_config.yml
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

add redirect domains
  docker/vps/01-pangolin/docker-compose.yml
Due: yamllint, yamlfmt

fix
  docker/vps/01-pangolin/config/traefik/dynamic_config.yml
Due: yamllint, yamlfmt

no need to force recreate now
  docker/vps/.doco-cd.yaml
Due: yamllint, yamlfmt

Path conditions:
  sops-check-encryption: any of: .*\.sops\.ya?ml
  yaml-schema-check: any of: ^kubernetes/.+\.ya?ml$, but not: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
  yamllint: any of: .+\.ya?ml$, but not: ^config/
  yamlfmt: any of: .+\.ya?ml$, but not: ^config/
  k8s-schema-hook: any of: ^kubernetes/.+\.ya?ml$
