Repository eleboucher/mediaserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

sops-check-encryption:
  name: SOPS Encryption Check
  entry: ./check-sops-encryption.sh
  language: system

yaml-schema-check:
  name: YAML Schema Validation
  entry: kubeconform -strict -ignore-missing-schemas -schema-location "https://k8s-schemas.erwanleboucher.dev/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"
  language: system

yamllint:
  name: YAML Lint
  entry: yamllint
  language: system

yamlfmt:
  name: YAML Format
  entry: yamlfmt
  language: system

k8s-schema-hook:
  name: K8s Schema Hook
  entry: hooks/k8s_yaml_schema.py --config .k8s-schema-hook.yaml
  language: python
  additional_dependencies:
  - jmespath
  - ruamel.yaml

Add kube-state-metrics
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-state-metrics/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-state-metrics/app/ocirepository.yaml
  kubernetes/apps/monitoring/kube-state-metrics/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

replace prometheus by victoria metrics
  bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/kube-system/cilium/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/longhorn/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/blackbox-exporter/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/fluent-bit/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/grafana/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/grafana/instance/grafana.yaml
  kubernetes/apps/monitoring/grafana/instance/servicemonitor.yaml
  kubernetes/apps/monitoring/headlamp/app/rbac.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/mikrotik-exporter/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-logs/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/monitoring/victoria-metrics/app/ocirepository.yaml
  kubernetes/apps/monitoring/victoria-metrics/ks.yaml
  kubernetes/apps/network/cloudflared/app/grafanadashboard.yaml
  kubernetes/apps/network/kgateway/app/grafanadashboard.yaml
  kubernetes/apps/security/external-secrets/app/grafanadashboard.yaml
  kubernetes/apps/system/keda/app/grafanadashboard.yaml
  kubernetes/apps/volsync-system/volsync/app/grafanadashboard.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

remove kube-prome-stack
  kubernetes/apps/monitoring/kube-prometheus-stack/app/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/ocirepository.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(renovate): Add more groups
  .renovate/groups.json5
Due: none

remove spammy label and data
  kubernetes/apps/monitoring/victoria-metrics/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix server address
  kubernetes/components/nfs-scaler/scaledobject.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

replace common nfs to inline
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
  kubernetes/apps/downloads/qui/ks.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/kube-system/backup/app/job.yaml
  kubernetes/apps/kube-system/backup/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/nfs-csi-driver/app/helmrelease.yaml
  kubernetes/apps/kube-system/nfs-csi-driver/app/kustomization.yaml
  kubernetes/apps/kube-system/nfs-csi-driver/app/ocirepository.yaml
  kubernetes/apps/kube-system/nfs-csi-driver/ks.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

more cleanup
  kubernetes/components/nfs-media/kustomization.yaml
  kubernetes/components/nfs-media/pv-media.yaml
  kubernetes/components/nfs-media/pvc-media.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

fix metrics link
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/system/homepage/app/helmrelease.yaml
  kubernetes/components/nfs-scaler/scaledobject.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

add webhooks
  .pre-commit-config.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/webhook/app/externalsecret.yaml
  kubernetes/apps/selfhosted/webhook/app/helmrelease.yaml
  kubernetes/apps/selfhosted/webhook/app/kustomization.yaml
  kubernetes/apps/selfhosted/webhook/app/ocirepository.yaml
  kubernetes/apps/selfhosted/webhook/app/resources/github-renovate-operator.sh
  kubernetes/apps/selfhosted/webhook/app/resources/hooks.yaml
  kubernetes/apps/selfhosted/webhook/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

change secrets for renovate operator
  kubernetes/apps/automation/renovate-operator/jobs/externalsecret.yaml
  kubernetes/apps/automation/renovate-operator/jobs/job.yaml
  kubernetes/apps/selfhosted/webhook/app/resources/hooks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix config
  kubernetes/apps/selfhosted/webhook/app/resources/hooks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Add sparkyfitness
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/sparkyfitness/app/helmrelease.yaml
  kubernetes/apps/selfhosted/sparkyfitness/app/kustomization.yaml
  kubernetes/apps/selfhosted/sparkyfitness/app/ocirepository.yaml
  kubernetes/apps/selfhosted/sparkyfitness/ks.yaml
  kubernetes/apps/selfhosted/sparkyfitness/server/externalsecret.yaml
  kubernetes/apps/selfhosted/sparkyfitness/server/helmrelease.yaml
  kubernetes/apps/selfhosted/sparkyfitness/server/kustomization.yaml
  kubernetes/apps/selfhosted/sparkyfitness/server/ocirepository.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

decrease victoria metrics disk size
  kubernetes/apps/monitoring/victoria-metrics/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix longhorn config
  kubernetes/apps/kube-system/longhorn/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Revert "remove kube-prome-stack"
  kubernetes/apps/monitoring/kube-prometheus-stack/app/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/ocirepository.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Add back datasource
  kubernetes/apps/monitoring/grafana/instance/kustomization.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

Add node exporter grafana dashboard
  kubernetes/apps/monitoring/node-exporter/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/node-exporter/app/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Add better grafana dashboard
  kubernetes/apps/monitoring/kube-prometheus-stack/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Revert "fix metrics link"
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/system/homepage/app/helmrelease.yaml
  kubernetes/components/nfs-scaler/scaledobject.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Add openebs
  kubernetes/apps/openebs-system/kustomization.yaml
  kubernetes/apps/openebs-system/namespace.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/kustomization.yaml
  kubernetes/apps/openebs-system/openebs/app/ocirepository.yaml
  kubernetes/apps/openebs-system/openebs/ks.yaml
  kubernetes/components/volsync/replicationdestination.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update volsync settings
  kubernetes/components/volsync/externalsecret.yaml
  kubernetes/components/volsync/replicationsource.yaml
Due: yamllint, yamlfmt, k8s-schema-hook

remove bitwarden from server
  bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/apps/jobs/k8s-schemas/app/externalsecret.yaml
  kubernetes/apps/monitoring/externalsecret.yaml
  kubernetes/apps/monitoring/github-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/apps/network/externalsecret.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/apps/security/external-secrets/cert/certificate.yaml
  kubernetes/apps/security/external-secrets/cert/kustomization.yaml
  kubernetes/apps/security/external-secrets/ks.yaml
  kubernetes/apps/security/external-secrets/store/bitwarden-secret.sops.yaml
  kubernetes/apps/security/external-secrets/store/kustomization.yaml
  kubernetes/apps/security/external-secrets/store/secretstore.yaml
  kubernetes/apps/system/homepage/app/externalsecret.yaml
  kubernetes/apps/system/homepage/app/helmrelease.yaml
  kubernetes/apps/system/mikrotik-cert-sync/app/externalsecret.yaml
  kubernetes/apps/volsync-system/kopia/app/externalsecret.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/externalsecret.yaml
  kubernetes/components/cnpg/README.md
  talos/scripts/load-talos-secrets.sh
  talos/scripts/populate-bitwarden-secrets.sh
Due: sops-check-encryption, yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix homepage
  kubernetes/apps/system/homepage/app/externalsecret.yaml
  kubernetes/apps/system/homepage/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

fix cloudflare tunnel
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

feat(flux): allow clickops
  kubernetes/apps/flux-system/flux-operator/app/clusterrolebinding.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

update network config talos
  talos/nodes/kharkiv.yaml.j2
  talos/nodes/le-havre.yaml.j2
Due: none

update longhorn config
  kubernetes/apps/kube-system/longhorn/app/helmrelease.yaml
Due: yaml-schema-check, yamllint, yamlfmt, k8s-schema-hook

Path conditions:
  sops-check-encryption: any of: .*\.sops\.ya?ml
  yaml-schema-check: any of: ^kubernetes/.+\.ya?ml$, but not: (/config/|\.sops\.ya?ml$|kustomization\.ya?ml$|namespace\.ya?ml$|/components/)
  yamllint: any of: .+\.ya?ml$, but not: ^config/
  yamlfmt: any of: .+\.ya?ml$, but not: ^config/
  k8s-schema-hook: any of: ^kubernetes/.+\.ya?ml$
